# # ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**isSchemaCompliant** | **bool** | Indicates if the validation produced no errors |
**checkResults** | [**\Dangl\AVACloud\Model\ValidationCheckResult[]**](ValidationCheckResult.md) | List of validation check results, which are usually errors | [optional]
**validationType** | [**\Dangl\AVACloud\Model\ValidationType**](ValidationType.md) |  |
**fileName** | **string** | Name of the validated file | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
