# # ValidationResult

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**is_schema_compliant** | **bool** | Indicates if the validation produced no errors |
**check_results** | [**\Dangl\AVACloud\Model\ValidationCheckResult[]**](ValidationCheckResult.md) | List of validation check results, which are usually errors | [optional]
**validation_type** | [**\Dangl\AVACloud\Model\ValidationType**](ValidationType.md) |  |
**file_name** | **string** | Name of the validated file | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
